# R
renv/library
.Rproj.user
.Rhistory
.RData
.Ruserdata
README.html

# Python
venv/
.ipynb_checkpoints

# Input files
input/figure
input/plotnine.html

# Output files
output/figure
output/r4ds-python-plotnine.blog.md
output/r4ds-python-plotnine.div.Rmd

# macOS
.DS_Store
